<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Chat Feature: Register</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="login-page">
      <h3 class="main-page"> Please use Postman for testing the Restful API. </h3>
    </div>
  </body>
</html>
